recursive-include doc/source *
recursive-include polar2grid/tests/etc *
include polar2grid/grids/grids.yaml
recursive-include polar2grid/fonts *
recursive-include etc *
include LICENSE.txt
include README.rst
