recursive-include doc/source *
recursive-include polar2grid/tests/etc *
include polar2grid/grids/grids.yaml
recursive-include polar2grid/fonts *
recursive-include polar2grid/etc *
include LICENSE.txt
include README.rst
recursive-exclude doc/source/_static/example_images *.png *.jpg
recursive-exclude doc/source/_static *.psd *.xcf
