include polar2grid/awips/*.conf
include polar2grid/awips/*.ini
include polar2grid/ninjo/*.conf
include polar2grid/ninjo/*.ini
include polar2grid/awips/ncml/*.ncml
include polar2grid/grids/*.conf
include polar2grid/*.conf
recursive-include polar2grid/grids *.gpd

