name: Deploy sdist

on:
  release:
    types:
      - published

jobs:
  deploysdist:
    name: "Deploy sdist"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Create sdist
        shell: bash -l {0}
        run: |
          python -m pip install -U build pip
          python -m build --sdist

      - name: Publish package to PyPI
        # upload to PyPI on every release for a tag starting with 'v'
        if: github.event.action == 'published' && startsWith(github.event.release.tag_name, 'v')
        uses: pypa/gh-action-pypi-publish@v1.8.6
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
